body {
  font-family: Arial;
  font-size: 120%;
  background-color: black;
  color:white;
  animation-name: bodychange;
  animation-duration: 5s;
  
 
}

ol {
  padding-left: 0px;
  max-height: 400px;
  overflow: auto;
}

a {
  color:white;
  text-decoration: none;
  transition: color 0.1s;
}

button {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  font-size: 100%;
  background-color: black;
  border-radius: 5px;
  color: white;
  border: 0;
  transition: background-color 0.1s;
  animation-name: bodychange;
  animation-duration: 5s;
  
}

@keyframes bodychange {
  from {background-color: grey;}
  to {background-color:black;}
}
button:hover {
  background-color: gray;
}

.choices button {
  display: block;
}

input[type="text"] {
  font-size: 100%;
}



h1{

  font-size: 400%;
  text-align: center;
 
}


.container {
  margin: 100px auto 0 auto;
  color:white;
  text-align: center;
}


.hide {
  display: none;
}

.start {
  text-align: center;
  color:white;
}

.scores {
  position: absolute;
  top: 10px;
  left: 10px;
}

.timer {

  font-size: 400%;
  position: absolute;
  left: 50%;
  bottom:5%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
  
 
}
